@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,500&family=Poppins&display=swap');
body{
    font-family: DM Sans;
}
*{
    margin: 0;
    padding: 0;
}
.container{
    display: flex;
    height: 90vh;
}
.logo a img{
    padding-top: 20px;
}
.sidebar div{
    padding-left: 20px;
}
.sidebar {
    width: 20vw;
    height: 100%;
    background-color: #000000;
    overflow-y: auto;
}
::-webkit-scrollbar{
    display: none;
}
.logo img{
    width: 150px;
    transition: all 2s ease-in;
}
.logo img:hover{
    transform: rotate(360deg);
}
.navigation{
    margin-top: 25px;
    padding-inline: 10px;
}
.navigation ul li{
    padding-block: 10px;
}
.navigation ul .li1{
    border-radius: 6px;
    background-color: #282828;
}
.navigation ul li a{
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    font-size: 19px;
}
.sidebar .navigation ul li .fa {
    font-size: 20px;
    margin-right: 20px;
}
.navigation ul li a .bg1{
    background-color: #fff;
}
.navigation ul li a .bg2{
    border-radius: 1px;
    padding: 2px;
    background: linear-gradient(135deg, #4000F4 0%, #603AED 22.48%, #7C6EE6 46.93%, #979FE1 65.71%, #A2B3DE 77.68%, #ADC8DC 88.93%, #C0ECD7 100%);
}
.navigation ul li a .bg3{
    border-radius: 5px;
    background: #4aaf9b;
    padding: 2px;
}
.navigation ul li a:hover{
    color: #009d03;
}
.sidebar .navigation ul li a:hover .fa{
    color: #221f1f;
}
.main-container {
    width: 80vw;
    height: 100%;
    overflow-y: auto;
    background: linear-gradient(180deg, #222 0%, #1F1F1F 11.64%, #171717 25.66%, #161616 32.94%, #151515 35.98%, #131313 44.89%, #121212 55.22%, #121212 75.34%, #121212 85.45%, rgba(18, 18, 18, 0.00) 100%);
}
.topbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 14px 30px;
}
.topbar .prev-next-buttons button{
    color: #fbfbfb;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    font-size: 18px;
    border: 0px;
    background-color: #090909;
    margin-right: 10px;
}
.topbar .navbar{
    display: flex;
    align-items: center;
    width: 147px;
    height: 41px;
    border-radius: 33px;
    background-color: #0A0A0A;
    color: #fff;
    cursor: pointer;
}
.topbar .navbar img{
    margin-right: 20px;
}
.topbar .navbar span{
    margin-right: 10px;
}
.good h1{
    color: #fff;
    padding-left: 40px;
    width: 280px;
    height: 56px;
}
.card{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin-inline: 40px;
}
.card-a{
    width: 300px;
    height: 100px;
    border-radius: 4px;
    background-color: #303030;
    gap: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    color: #fff;
    transition: all 1s ease;
}
.card-a:hover{
    transform: scale(1.1);
    box-shadow: 0px 0px 10px #edca77;
}
.card-a img{
    border-radius: 4px 0px 0px 4px;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.31) 0%, rgba(166, 0, 0, 0.00) 100%), url(<path-to-image>), lightgray 50% / cover no-repeat;
}
.main-container .letter{
    color: #fff;
    margin-inline: 40px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}
.main{
    width: 90%;
    margin-left: 40px;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
}
.card-b{
    width: 235px;
    height: 306px;
    color: #fff;
    background-color: #181818;
    transition: all 1s ease;
}
.card-b:hover{
    transform: scale(1.05);
    box-shadow: 0px 0px 10px #edca77;;
}
.card-b img{
    margin: 10px;
}
.card-b h2 , .card-b p{
    margin-left: 10px;
}
.player{
    height: 8vh;
    width: 100%;
    background-color: #181818;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.song{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    color: #fff;
}
.song img{
    width: 50px;
    height: 40px;
}
.buttons{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.icon i{
    margin-left: 10px;
}
.bar{
    color: #fff;
}
.func{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
    transition: all 2s ease-in;
}
.func i:hover{
    transform: scale(1.3);
}
.func img{
    width: 110px;
    height: 5px;
}
.func img:hover{
    transform: scale(1.1);
}
.device{
    height: 2vh;
    width: 100%;
    background-color: #1ED760;
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    align-items: center;
}
.device p{
    margin-right: 180px;
    font-size: 12px;
    font-weight: 500;
}
/* 2nd page css */

.sidebar-image img{
    width: 80%;
}
.main-container2{
    width: 80vw;
    height: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #000;
    color: #fff;
}
.tophead{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: end;
    background: linear-gradient(180deg, #90AEA7 0%, #000 100%);
}
.letter1{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    color: #FFF;
    font-family: Circular Std;
    padding-bottom: 50px;
}
.letter1 h4{
    font-size: 13px;
    font-weight: 500;
}
.letter1 h1{
    font-size: 90px;
    font-weight: 900;
}
.letter1 p{
    font-size: 14px;
    font-weight: 400;
}
.middle{
    padding-top: 10px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.middle .icons{
    padding-bottom: 20px;
}
.middle .names{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.base{
    width: 100%;

}

.base-a{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.box{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
}
.player2{
    height: 10vh;
    width: 100%;
    background-color: #181818;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}